table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.example-container::-webkit-scrollbar {
    display: none;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

th,
td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th.mat-header-cell {
    font-weight: bold;
}

.example-container {
    height: auto;
    max-width: 100%;
    overflow: auto;
}