<div class="m-3">
    <mat-form-field appearance="outline" class="search">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input spellcheck="false" autocomplete="off">
        <mat-icon color="primary" matSuffix class="material-icons-outlined">search</mat-icon>
    </mat-form-field>
    <div class="example-container mat-elevation-z8 mt-3">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let row"> {{row.category | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let row"> {{row.title | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-stroked-button (click)="addSnippetWindow()" color="primary">
                        Add Snippet
                    </button>
                </th>
                <td mat-cell *matCellDef="let row"> 
                    <button mat-icon-button (click)="viewMore(row)" color="primary">
                        <mat-icon>visibility</mat-icon>
                    </button> 
                    <button mat-icon-button (click)="onDelete(row.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell">
                    <h3>No Snippets here!</h3>
                </td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>