<body class="text-center">
    <div class="main_form">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="form-signin mat-elevation-z8" autocomplete="off" spellcheck="false">
            <img class="cloud" alt="security" loading="eager" src="../../../assets/cloud security.png"/>
            <h1 class="header">Create Account</h1>
            <div class="mt-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input formControlName="u_email_id" type="email" matInput>
                    <mat-icon color="primary" matSuffix class="material-icons-outlined">mail</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input formControlName="u_password" [type]="hide ? 'password' : 'text'" matInput>
                    <mat-error>This field is required!</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon color="primary" matSuffix class="material-icons-outlined">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="u_confirm_password" [type]="hide ? 'password' : 'text'" matInput>
                    <mat-error>This field is required!</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon color="primary" matSuffix class="material-icons-outlined">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary" class="mt-2 w-100" id="btn0" type="submit">Sign Up</button>
                <br><br><mat-label>Already have an Account? <a routerLink=''>Login</a></mat-label>
            </div>
        </form>
    </div>
</body>